<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>uuuuuuuu</title>
</head>
<body>

{{#cv}}
    <tr>
        <td>{{name}}</td>
        <td>{{phone}}</td>
    </tr>
{{/cv}}
</body>
</html>