<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>uyuaaeebboboijkuyuaaboobboevobobvveboobbooveobevobeboboeoooofifvinod</title>
</head>
<body>

{{#cb}}
    <tr>
        <td>{{name}}</td>
        <td>{{phone}}</td>
    </tr>
{{/cb}}
</body>
</html>