<body>
<script>
    setInterval(() => {
        document.writeln("<span style='font-size:16px'>집</span><span style='font-size:13px'>에</span> <span style='font-size:10px'>보</span><span style='font-size:7px'>내</span><span style='font-size:6px'>줘</span><span style='font-size:7px'>...</span>")
    }, 1000)
</script>
</body>